#root {
  width: 100vw !important;
  overflow-x: hidden;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
body {
  font-family: sans-serif;
  background-color: aliceblue;
}
/* Inter, system-ui, Avenir, */
